
   
        <div class="container-fluid">
            <h3>Quem Somos</h3>
            <div class= "row mt-5">
                <div class="col-md-2"></div>
                <div class="col-md-8" id="margem">
                <p> O clickIn tem como foco estimular a inclusão de PDC’s no mercado de trabalho e o acesso a informações e atualidades do meio. Viabilizada a conexão entre empregadores e profissionais PCDs da-se na busca por mapear e entender quais são as necessidades e requisitos para incluir essa população nas empresas. A partir de entrevistas e pesquisas, foram coletadas histórias, impressões, dados sobre esse público. Num segundo momento, como parte do projeto, vídeos foram gravados para dar visibilidade a história dos nossos embaixadores que exemplificam os desafios dos profissionais a ingressar no mercado. O objetivo do projeto é, de um lado, mostrar como à falta de inclusão e representatividade, e também estimular referências positivas.
                    </p>
                    </div>
                <div class="col-md-2"></div>    
    </div>
</div>

    <div class="container-fluid">
        <div class="row mt-4" id="conteudo">
            
            <div class="col-md-3 d-flex justify-content-end p-0 mb-3">
                <img src="assets/images/camilav2.jpg" class="rounded-circle tamanho-img" alt="" title=" foto Camilla">
            </div>
            <div class="col-md-7" id="margem">
                <p>“Minha intenção é protagonizar na área de técnologia para disseminar o
                        conhecimento a quem tem menos alcance e assim tornar referência como forma de inclusão. ”
                </p>
                <p>Camilla Cleane, 26 anos - Líder</p>
            </div>

        </div>
        <div class="row" id="conteudo">
            <div class="col-md-3 d-flex justify-content-end p-0 mb-3">
                <img src="assets/images/luisv2.jpg" class="rounded-circle tamanho-img" alt="" title="foto Luis">
            </div>
            <div class="col-md-7" id="margem">
                <p>“Gosto de ajudar quem precisa e acredito muito que unindo técnologia e trabalho em equipe podemos atingir objetivos maiores com mais produtividade.”
                </p>
                <p>Luis Witts, 20 anos - Scrum </p>
            </div>

        </div>
        <div class="row" id="conteudo">
            <div class="col-md-3 d-flex justify-content-end p-0 mb-3">
                <img src="assets/images/leo.jpg" class="rounded-circle tamanho-img" alt="" title="foto Leonardo">
            </div>
            <div class="col-md-7" id="margem">
                <p>“Acredito que todos temos direito a equidade de oportunidades. Neste caso vejo que através da
                        tecnologia podemos levar inclusão e informação de maneira simples e eficaz. ”
                </p>
                <p>Leonardo A. Simonetti, 26 anos - Desenvolvedor Front-End</p>
            </div>

        </div>
        <div class="row" id="conteudo">
            <div class="col-md-3 d-flex justify-content-end p-0 mb-3">
                <img src="assets/images/dani.jpg" class="rounded-circle tamanho-img" alt="" title="foto Danielle">
            </div>
            <div class="col-md-7" id="margem">
                <p>“Acredito na possibilidade de utilizar os avanços tecnológicos, a disseminação do conhecimento e a aplicação das leis de forma igualitária.”
                </p>
                <p> Danielle Sacramento, 27 anos - Desenvolvedor Front-End</p>
            </div>

        </div>

        <div class="row" id="conteudo">
            <div class="col-md-3 d-flex justify-content-end p-0 mb-3">
                <img src="assets/images/felipe.jpg" class="rounded-circle tamanho-img" alt="" title="foto Felipe">
            </div>
            <div class="col-md-7 acessibilidade" id="margem">
                <p>“Mais de 5 anos de experiência na área de infraestrutura e fanático por novas linguagens e tecnologias.”
                </p>
                <p>Felipe Martinelli, 24 anos - Desenvolvedor Back-End</p>
            </div>

        </div>



        <div class="row" id="flipcard">
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/missao.png" alt="Avatar" style="width:150px;height:150px;">
                    </div>
                    <div class="flip-card-back">
                        <h1>Missão</h1>
                        <p>Mudar a realidade social da pessoa com deficiência ao possibilitar sua conexão com possíveis
                            empregadores e a garantia de seus direitos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/visao.png" alt="Avatar" style="width:150px;height:150px;">
                    </div>
                    <div class="flip-card-back" >
                        <h1>Visão</h1>
                        <p>Tornar-se referência nacional na inclusão profissional e social de pessoas com deficiência.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../assets/images/valores.png" alt="Avatar" style="width:150px;height:150px;">
                    </div>
                    <div class="flip-card-back" id="texto">
                        <h1>Valores</h1>
                        <p>Honestidade, respeito, responsabilidade, tolerância e humildade.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


  <!--  <div class="modal-backdrop fade in" [style.display]="showModal ? 'block' : 'none'"></div>
  <div class="modal" tabindex="-1" role="dialog" style="display: block" [style.display]="showModal ? 'block' : 'none'">
     <div class="modal-dialog">
        <div class="modal-popup">
          <div class="popup-title">
            <span>{{title}} </span>
            <i class="icon-cancel fr" data-dismiss="modal" aria-label="Close" (click)="cancelAction()"></i>
            <p *ngIf="subTitle">{{subTitle}}</p>
          </div>
        <ng-content></ng-content>
      </div>
  </div>
</div>-->
<!--
<button onClick="fonte('a');">+</button>
<button onClick="fonte('d');">-</button>


<p class="acessibilidade">teste</p>
-->