

p{
    text-align: justify;
}

.tamanho-img{
    width: 100px;
    height: 100px;
}
#gif{
    width: 80px;
    height: 50px ;
}

#projeto{
    text-align: justify;
    border-style: solid;
}

h3{
    margin-top: 20px;
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}
#botao{
    margin-left: 8px;
    text-align: center;
}
#bot{
    margin-top: 10px;
}
