*{
    margin: 0%;
    padding: 0%;

}
h1{
    color: black;
    
    padding-top: 130px;
    
    font-size: 48px;
    
}
#simbolo{
    position: absolute; 
    left: 800px; /* posiciona a 90px para a esquerda */ 
    top: 120px; /* posiciona a 70px para baixo */
    width: 200px;
    right: 200px;
}
.itens{
    margin-top: 20%;
    display: flex;
    justify-content: baseline;
    left: 2%;
}
.itenNav{
    margin-left: 6%;
}
#foto{
    display: flex;
    justify-content: center;
}
.texto{
    margin-left: 10px;
}