<div class="container-fluid">
    <div class="row">
      <nav class="navbar navbar-expand-lg navbar-white bg-white">

      <a [routerLink]="'/home'" class="titulo"><strong><h1> Click<strong>In</strong> </h1> </strong></a>
      <a class="navbar-brand" href="#">
        <img src="assets/images/cadeira-de-roda.gif" id="gif" alt="cadeira de rodas em movimento">
      </a>
      <a class="nav-link" [routerLink]="'/quemsomos'">Quem Somos</a>
      <a class="nav-link" href="#">Embaixadores</a>
      <a class="nav-link" [routerLink]="'/contato'">Contato</a>
      <a class="nav-link" href="#">Parceria</a>
    </nav>
    </div>
   
</div>